.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/project/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/

# CodeIgniter Docs
/user_guide/*

# Application Upload Paths
/uploads/news/pictures/*
/uploads/blog/pictures/*
/uploads/accounts/pictures/*

# default application assets
/assets/default/

# newsletter application asset
/assets/newsletter/

# Application files
/application/
/system/
/uploads/
/user_guide/
.editorconfig
.htaccess
composer.json
contributing.md
index.php
license.txt
readme.rst

# gitingore file
.gitignore
